<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.hang.heritage.domain.admin.mapper.AdminMapper">

	<!-- 관리자 권한 유무 확인 기능 -->
	<select id="adminIdConfirm" parameterType="string" resultType="java.lang.String">
		SELECT ADMIN 
		FROM AUTHORITY
		WHERE userid = #{adminid};
	</select>
	
	<!--
	관리자 권한 기능 중 유저댓글 관리에 대한 기능
	-->
	<select id="allCommentList" resultType="map">
		SELECT USERID , COMMENT, CCBAKDCD, CCBAASNO, CCBACTCD ,CCBAMNM1 ,COMMENTDATE, REVIEWPHOTO
		FROM HERITAGEREVIEW
		ORDER BY COMMENTDATE DESC;
	</select>
	
	<select id="keywordCommentFind" parameterType="map" resultType="map">
		SELECT USERID, COMMENT ,CCBAASNO ,CCBAMNM1 ,COMMENTDATE, REVIEWPHOTO
		FROM HERITAGEREVIEW
		WHERE 1=1
		    <if test="userid != null">
		      AND userid LIKE CONCAT('%', #{userid}, '%')
		    </if>
		    <if test="commentKeyword != null">
		      AND COMMENT LIKE CONCAT('%', #{commentKeyword}, '%')
		    </if>
		    <if test="ccbaAsno != null">
		      AND CCBAASNO LIKE CONCAT('%', #{ccbaAsno}, '%')
		    </if>
		    <if test="ccbaMnm1 != null">
		      AND CCBAMNM1 LIKE CONCAT('%', #{ccbaMnm1}, '%')
		    </if>
	</select>
	
	<delete id="checkCommentDelete" parameterType="map">
		DELETE R, H
		FROM RATE R
		JOIN HERITAGEREVIEW H ON H.USERID  = R.USERID
							  AND H.CCBAASNO = R.CCBAASNO
							  AND H.CCBAKDCD = R.CCBAKDCD
							  AND H.CCBACTCD = R.CCBACTCD
		WHERE R.CCBAASNO = #{ccbaAsno}
		  AND R.USERID = #{userid}
		  AND R.CCBAKDCD = #{ccbaKdcd}
		  AND R.CCBACTCD = #{ccbaCtcd};
	</delete>
	
	<!--
	관리자 권한 기능 중 유저권한 부여에 대한 기능
	-->
	<select id="allUserAuthority" resultType="map">
		SELECT m.USERID, a.ADMIN, a.ACCESS
		FROM MEMBER m
		JOIN AUTHORITY a ON m.USERID = a.USERID
		WHERE m.USERID != '탈퇴회원';
	</select>
	
	<select id="keywordUserAuthorityFind" parameterType="map" resultType="map">
		SELECT m.USERID, a.ADMIN, a.ACCESS
		FROM MEMBER m
		JOIN AUTHORITY a ON m.USERID = a.USERID
		WHERE 1=1
		    <if test="userid != null">
		      AND a.USERID LIKE CONCAT('%', #{userid}, '%')
		    </if>
		    <if test="adminValue != null">
		      AND a.ADMIN LIKE CONCAT('%', #{adminValue}, '%')
		    </if>
		    <if test="commentBlockValue != null">
		      AND a.ACCESS LIKE CONCAT('%', #{commentBlockValue}, '%')
		    </if>
	</select>
	
	<update id="userAuthorityChange" parameterType="map">
		UPDATE AUTHORITY
		SET ADMIN = #{admin}, ACCESS = #{access}
		WHERE USERID = #{userid};
	</update>
	
	
	<!--
	관리자 권한 기능 중 회원강제탈퇴에 대한 기능
	-->
	<select id="allUserForcedWithdrawal" resultType="map">
		SELECT USERID , USERNAME ,REGDATE 
		FROM MEMBER
		WHERE USERID != '탈퇴회원'
		ORDER BY USERID ASC;
	</select>
	
	<select id="keywordUserForcedWithdrawalFind" parameterType="map" resultType="map">
		SELECT USERID, USERNAME , REGDATE
		FROM MEMBER
		WHERE 1=1
		    <if test="userid != null">
		      AND userid LIKE CONCAT('%', #{userid}, '%')
		    </if>
		    <if test="username != null">
		      AND username LIKE CONCAT('%', #{username}, '%')
		    </if>
	</select>
	
	<update id="userWithdrawalHERITAGEREVIEW" parameterType="map">
		UPDATE HERITAGEREVIEW
		SET userid = '탈퇴회원'
		WHERE userid = #{userid};
	</update>
	
	<update id="userWithdrawalRATE" parameterType="map">
		UPDATE RATE
		SET userid = '탈퇴회원'
		WHERE userid = #{userid};
	</update>
	
   <delete id="userWithdrawalBOOKMARK" parameterType="map">
		DELETE 
		FROM BOOKMARK  
		WHERE USERID = #{userid};
   </delete>
   
   <delete id="userWithdrawalPROFILEIMAGE" parameterType="map">
		DELETE 
		FROM PROFILEIMAGE
		WHERE USERID = #{userid};
   </delete>
   
   <delete id="userWithdrawalAUTHORITY" parameterType="map">
   		DELETE 
		FROM AUTHORITY
		WHERE USERID = #{userid};
   </delete>
   
   <delete id="userWithdrawalMEMBER" parameterType="map">
		DELETE 
		FROM MEMBER 
		WHERE USERID = #{userid};
   </delete>
	

</mapper>

	
	
