<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ezen.hang.heritage.domain.admin.mapper.AdminMapper">

	<!-- 관리자가 맞는지 확인 -->
	<select id="adminIdConfirm" parameterType="string" resultType="java.lang.String">
		SELECT ADMIN 
		FROM MEMBER
		WHERE userid = #{adminid};
	</select>
	
	<!-- 모든 댓글 가져오기 -->
	<select id="allCommentList" resultType="map">
		SELECT USERID , COMMENT, CCBAKDCD, CCBAASNO, CCBACTCD ,CCBAMNM1 ,COMMENTDATE 
		FROM HERITAGEREVIEW
		ORDER BY COMMENTDATE DESC;
	</select>
	
	<!-- 검색창을 통해 등록된 코멘트 조회하기 -->
	<select id="keywordCommentFind" parameterType="map" resultType="map">
		SELECT USERID, COMMENT ,CCBAASNO ,CCBAMNM1 ,COMMENTDATE 
		FROM HERITAGEREVIEW
		WHERE 1=1
		    <if test="userid != null">
		      AND userid LIKE CONCAT('%', #{userid}, '%')
		    </if>
		    <if test="commentKeyword != null">
		      AND COMMENT LIKE CONCAT('%', #{commentKeyword}, '%')
		    </if>
		    <if test="ccbaAsno != null">
		      AND CCBAASNO LIKE CONCAT('%', #{ccbaAsno}, '%')
		    </if>
		    <if test="ccbaMnm1 != null">
		      AND CCBAMNM1 LIKE CONCAT('%', #{ccbaMnm1}, '%')
		    </if>
	</select>
	
	<!-- 선택한 리뷰 삭제하기 -->
	<delete id="checkCommentDelete" parameterType="map">
		DELETE R, H
		FROM RATE R
		JOIN HERITAGEREVIEW H ON H.USERID  = R.USERID AND H.CCBAASNO = R.CCBAASNO AND H.CCBAKDCD = R.CCBAKDCD  AND H.CCBACTCD = R.CCBACTCD
		WHERE R.CCBAASNO = #{ccbaAsno} AND R.USERID = #{userid} AND R.CCBAKDCD = #{ccbaKdcd} AND R.CCBACTCD = #{ccbaCtcd};
	</delete>
	
	<!-- 가입된 유저의 관리자권한과 댓글쓰기권한 가져오기 -->
	<select id="allUserAuthority" resultType="map">
		SELECT USERID, ADMIN, ACCESS
		FROM MEMBER;
	</select>
	
	<!-- 검색단어로 유저 찾아오기 -->
	<select id="keywordUserAuthorityFind" parameterType="map" resultType="map">
		SELECT USERID, ADMIN , ACCESS
		FROM MEMBER
		WHERE 1=1
		    <if test="userid != null">
		      AND userid LIKE CONCAT('%', #{userid}, '%')
		    </if>
		    <if test="adminValue != null">
		      AND ADMIN LIKE CONCAT('%', #{adminValue}, '%')
		    </if>
		    <if test="commentBlockValue != null">
		      AND ACCESS LIKE CONCAT('%', #{commentBlockValue}, '%')
		    </if>
	</select>
	
	<!-- 유저의 권한 등록 제거 -->
	<update id="userAuthorityChange" parameterType="map">
	UPDATE MEMBER
	SET ADMIN = #{admin}, ACCESS = #{access}
	WHERE userid = #{userid};
	</update>
	
	
	<!-- 탈퇴시킬 모든 유저 정보 가져오기 -->
	<select id="allUserForcedWithdrawal" resultType="map">
		SELECT USERID , USERNAME ,REGDATE 
		FROM MEMBER
		ORDER BY USERID ASC;
	</select>
	
	<!-- 검색단어로 탈퇴시킬 유저 찾아오기 -->
	<select id="keywordUserForcedWithdrawalFind" parameterType="map" resultType="map">
		SELECT USERID, USERNAME , REGDATE
		FROM MEMBER
		WHERE 1=1
		    <if test="userid != null">
		      AND userid LIKE CONCAT('%', #{userid}, '%')
		    </if>
		    <if test="username != null">
		      AND username LIKE CONCAT('%', #{username}, '%')
		    </if>
	</select>
	

</mapper>

	
	
