<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.hang.heritage.domain.item.mapper.ItemMapper">
	
	<!--
	별점 및 댓글 등록 전 유저의 이용가능 여부 체크
	-->
	<select id="userAccess" parameterType="string" resultType="string">
	SELECT ACCESS FROM AUTHORITY WHERE USERID = #{userid};
	</select>
	
	<!--
	지도에 marker 등록 전 평균 별점 보여주기 위한 기능
	-->
	<select id="rateAvgPoint" parameterType="CommentStarRate" resultType="CommentStarRate">
		SELECT STARPOINT , USERID , ccbaKdcd, ccbaAsno, ccbaCtcd
		FROM RATE
		WHERE CCBAKDCD = #{ccbaKdcd}
		  AND CCBAASNO = #{ccbaAsno}
		  AND CCBACTCD = #{ccbaCtcd};
	</select>
	
	
	<!--
	신규 별점 및 코멘트 등록 기능
	문화재에 등록된 코멘트와 별점 가져오기 기능
	나의리뷰에 보여줄 내가 남긴 리뷰목록 가져오기 기능
	나의리뷰에서 선택한 리뷰목록 삭제 기능
	-->
	<insert id="starRatingCreate" parameterType="CommentStarRate" >
		INSERT INTO RATE (STARPOINT, USERID, ccbaKdcd, ccbaAsno, ccbaCtcd)
		VALUES (#{starpoint}, #{userid}, #{ccbaKdcd}, #{ccbaAsno}, #{ccbaCtcd});
	</insert>
	
	<insert id="commentCreate" parameterType="CommentStarRate" >
		INSERT INTO
		HERITAGEREVIEW (userid, ccbaKdcd, ccbaAsno, ccbaCtcd, ccbaMnm1, COMMENT, COMMENTDATE)
		VALUES (#{userid}, #{ccbaKdcd}, #{ccbaAsno}, #{ccbaCtcd}, #{ccbaMnm1}, #{comment}, NOW());
	</insert>
	
	<select id="commentStarRateLoad" parameterType="map" resultType="map">
		SELECT DISTINCT H.USERID, H.COMMENT, H.COMMENTDATE, R.STARPOINT
		FROM HERITAGEREVIEW H
		JOIN RATE R ON H.USERID  = R.USERID
					AND H.CCBAASNO = R.CCBAASNO
					AND H.CCBAKDCD = R.CCBAKDCD
					AND H.CCBACTCD = R.CCBACTCD 
		WHERE H.CCBAKDCD = #{ccbaKdcd}
		  AND H.CCBAASNO = #{ccbaAsno}
		  AND H.CCBACTCD = #{ccbaCtcd}
		ORDER BY H.COMMENTDATE DESC;
	</select>
	
	<select id="userHeritageList" parameterType="String" resultType="CommentStarRate">
		SELECT H.CCBAMNM1, H.CCBAASNO, H.COMMENT, H.COMMENTDATE, R.STARPOINT  
		FROM HERITAGEREVIEW H
		JOIN RATE R ON H.USERID  = R.USERID
					AND H.CCBAASNO = R.CCBAASNO
					AND H.CCBAKDCD = R.CCBAKDCD
					AND H.CCBACTCD = R.CCBACTCD
		WHERE H.USERID = #{userid}
		ORDER BY H.COMMENTDATE DESC;
	</select>
	
	<delete id="deleteCommentStarRateMapper" parameterType="CommentStarRate">
		DELETE R, H
		FROM RATE R
		JOIN HERITAGEREVIEW H ON R.CCBAASNO = H.CCBAASNO
							  AND  R.USERID = H.USERID 
		WHERE R.CCBAASNO = #{ccbaAsno}
		  AND R.USERID = #{userid} ;
	</delete>
</mapper>