<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.hang.heritage.domain.visitor.mapper.VisitorMapper">

	<select id="dayVisitorExiste" parameterType="map" resultType="map">
		SELECT visit_date, visitor_count, visitor_totalcount
        FROM VISITORCOUNT
        WHERE visit_date = #{day};
	</select>
	
	<insert id="insertTodayVisitorCount" parameterType="string">
	    INSERT INTO VISITORCOUNT (visit_date, visitor_count, visitor_totalcount)
	    VALUES (NOW(), 0, #{visitor_totalcount})
	</insert>
	
	<update id="updateTodayVisitorCount" parameterType="map">
		UPDATE VISITORCOUNT
		SET visitor_count = #{visitor_count},
		    visitor_totalcount = #{visitor_totalcount}
		WHERE visit_date = #{visit_date}
	</update>

	
</mapper>