<div th:fragment="commentManagePage">
  <div class="table-container"
    style="margin: 0 auto; width: 90%; text-align: center;">
    <table class="table table-hover" style="font-size: 0.9em;">
      <thead>
        <tr>
          <th class="table-col-1 commentTable1">선택</th>
          <th class="table-col-2 commentTable2">번호</th>
          <th class="table-col-3 commentTable3">아이디</th>
          <th class="table-col-4 commentTable4">댓글내용</th>
          <th class="table-col-5 commentTable5">문화재번호</th>
          <th class="table-col-6 commentTable6">문화재이름</th>
          <th class="table-col-7 commentTable7">작성일자</th>
        </tr>
      </thead>
      <tbody id="comment_dyn_tbody">
      </tbody>
    </table>
  </div>


  <!-- 페이징 속성 정의 -->
  <nav aria-label="Page navigation example" style="width:100%; overflow:hidden;">
  <!-- 총 건수 -->
  <div id="commentCount" style="width:10%;font-size:0.9em; font-weight:bold; float:left; margin-left:5%;">
  </div>
    <ul id="comment_dyn_ul" class="pagination" style="justify-content: center;margin-right:10%;">
    </ul>
  </nav>
  
  
  <!-- 검색창과 삭제버튼 -->
  
<div class="footer-container" style="width:100%; overflow:hidden;">
    <div class="input-group" style="width:50%; float:left; margin-left:25%;">
      <select style="font-size:0.8em;" class="form-select" id="inputGroup">
        <option selected>선택</option>
        <option value="userid">아이디</option>
        <option value="commentKeyword">댓글단어</option>
        <option value="ccbaAsno">문화재번호</option>
        <option value="ccbaMnm1">문화재이름</option>
      </select>
      <input style="font-size:0.8em;" type="text" class="form-control w-50" id="searchInput" placeholder="검색">
      <button class="btn btn-primary commentSearchButton" type="button">검색</button>
    </div>
    <button type="button" class="btn btn-danger adminCommentDelete" style="float:right; margin-right:5%;">삭제</button>
    <!-- 토스트 창 -->
    <div class="toast-container bottom-50 d-flex justify-content-center align-items-center w-100">
          <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="me-auto">최종확인</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              정말로 삭제하시겠습니까?<br>
              <button type="button" class="btn btn-danger btn-sm" id="finalDeleteButton" data-bs-dismiss="modal">삭제</button>
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast" id="toastCloseButton">닫기</button>
            </div>
          </div>
        </div>
        
  </div>


  <script type="text/javascript" defer>
		let commentAdminId = sessionStorage.getItem('userid'); //관리자 아이디
		//댓글게시판 접속 시 모든 댓글 리스트로 가져오기
		let adminCommentListButton = document.querySelector('#commentPageButton');
		if (adminCommentListButton !== null) {
			adminCommentListButton.addEventListener('click', () => {
				let fetchData = {
					"adminid" : commentAdminId
				}
				commentTableStart(fetchData);
			})
		}
		
		// 검색 창 클릭하면 검색단어로 가져오기
		let commentSearchButton = document.querySelector('.commentSearchButton');
		if(commentSearchButton !== null){
			commentSearchButton.addEventListener('click', () => {
    			let inputGroup = document.getElementById("inputGroup");
    			let searchInput = document.getElementById("searchInput");
    			let inputGroupValue = inputGroup.value;
    			let searchInputValue = searchInput.value;
    			let keywordData = {
    				"adminid": commentAdminId
    			}
    			keywordData[inputGroupValue] = searchInputValue;
    			commentTableKeyword(keywordData);
    		})			
		}
		
		// 받아온 코멘트 리스트 테이블로 보여주기
		function commentTableStart(fetchData) {
			commentFetchstart(fetchData)
				.then(data => {
					document.querySelector('#commentCount').innerHTML = `총 ${data.length}건`;
					commentTableInsert(data);
				})
		}
		
		// 받아온 검색 코멘트 리스트 테이블로 보여주기
		function commentTableKeyword(fetchData){
			commentFetchKeyword(fetchData)
			.then(data => {
				document.querySelector('#commentCount').innerHTML = `총 ${data.length}건`;
				commentTableInsert(data);
			})
		}
		
		// 코멘트리스트 통신요청
		function commentFetchstart(fetchData) {
			return fetch(`/admin/clist`, {
				method: 'POST',
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify(fetchData)
			})
				.then(response => {
					return response.json();
				})
		}
		
		// 코멘트 검색단어 리스트 통신요청
		function commentFetchKeyword(fetchData){
			return fetch(`/admin/clist/search`, {
				method: 'POST',
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify(fetchData)
			})
				.then(response => {
					return response.json();
				})
		}
		
		
		
		/* [html 최초 로드 및 이벤트 상시 대기 실시] */
		window.onload = function () {
			// 동적으로 테이블 tbody tr 행 생성 실시
			commentTableInsert(0);
		};

		/* [테이블 리스트 전역 변수 선언 실시] */
		var tableList = []; // commentTableInsert 함수에서 for문을 돌면서 삽입 실시
		var pageList = 10; // 한개의 페이지에 보여질 목록 개수
		var pageMax = 5; // 최대 생성될 페이지 개수 (페이지를 더보려면 이전, 다음 버튼 클릭해야함)     
		var idx = 0; //idx 값 확인 후 동적 페이지 전환 및 데이터 표시
		var page = 1; //생성 시작할 페이지 번호

		/* [tbody tr 동적 삽입 이벤트 수행 함수] */
		function commentTableInsert(data) {
			tableList = []; // 새 결과값을 받기 위해 초기화
			// [for 반복문을 돌려서 tr 데이터 임의로 생성 실시]
			for (var i = 0; i < data.length; i++) {
				// JSON 형식으로 리스트에 추가 실시
				var jsonObject = {
					"idx": i + 1,
					"ccbaAsno": data[i].CCBAASNO,
					"ccbaMnm1": data[i].CCBAMNM1,
					"comment": data[i].COMMENT,
					"commentDate": data[i].COMMENTDATE,
					"userid": data[i].USERID
				};
				tableList.push(jsonObject);
			}
			// [테이블 행 개수에따라 페이징 처리 실시]
			commentPageInsert(page);
		};

		/* [페이징 처리 이벤트 수행 함수] */
		function commentPageInsert(value) {
			// [페이징 목록 초기화 실시]
			$("#comment_dyn_ul").empty();
			// [생성된 테이블 tr 개수 확인 >> 페이징 처리 5개씩 목록 자름]       
			var startIndex = value; // 생성 시작 페이지        
			//var endIndex = $("#comment_dyn_tbody tr").length; // tbody에 동적으로 추가된 tr 개수 확인
			var endIndex = tableList.length; // 배열에 있는 길이 확인
			// [tr 개수에 따라 페이징 해야할 개수 확인]
			var pageCount = 0;
			var pagePlus = 0;
			if (endIndex > pageList) { // tr 행 개수가 5 이상인 경우 (임의로 설정)
				pageCount = Math.floor(endIndex / pageList); //생성될 페이지 수 (소수점 버림)
				pagePlus = endIndex % pageList; //추가 나머지 자식 수
				if (pagePlus > 0) { //추가 자식수가 있는경우 >> 페이지 추가
					pageCount = pageCount + 1;
				}
			}

			// [생성될 페이지 번호가 전체 생성되야하는 길이보다 크거나 작은지 확인]
			if (startIndex > pageCount) { //길이 초과 시 기존꺼로 다시 저장
				startIndex = page;
			}
			else if (startIndex < 0) { //길이 미만 시 기존꺼로 다시 저장
				startIndex = page;
			}
			else {
				page = startIndex;
			}
			// [동적 ul 페이징 처리 실시]
			if (pageCount == 1) { //생성해야할 페이지가 1페이지인 경우
				var insertUl = "<li class='page-item'>"; // 변수 선언
				insertUl += insertUl + "<a class='page-link' href='javascript:void(0)' onclick = 'commentNewPage(1);'>";
				insertUl += insertUl + i;
				insertUl += insertUl + "</a></li>";
				$("#comment_dyn_ul").append(insertUl); //jquery append 사용해 동적으로 추가 실시           
			}
			else if (pageCount >= 2) { //생성해야할 페이지가 2페이지 이상인 경우
				// 이전 페이지 추가 실시 
				var insertSTR = "<li class='page-item'>"; // 변수 선언
				insertSTR = insertSTR + "<a class='page-link' href='javascript:void(0)' onclick = 'commentNewPage(" + "-1" + ");'>";
				insertSTR = insertSTR + "이전";
				insertSTR = insertSTR + "</a></li>";
				$("#comment_dyn_ul").append(insertSTR); //jquery append 사용해 동적으로 추가 실시            
				// 특정 1, 2, 3 .. 페이지 추가 실시
				var count = 1;
				for (var i = startIndex; i <= pageCount; i++) {
					if (count > pageMax) { //최대로 생성될 페이지 개수가 된 경우 
						page = i - pageMax; //생성된 페이지 초기값 저장 (초기 i값 4 탈출 인경우 >> 1값 저장)
						break; //for 반복문 탈출
					}
					var insertUl = "<li class='page-item'>"; // 변수 선언
					insertUl = insertUl + "<a class='page-link' href='javascript:void(0)' onclick = 'commentNewPage(" + i + ");'>";
					insertUl = insertUl + String(i);
					insertUl = insertUl + "</a></li>";
					$("#comment_dyn_ul").append(insertUl); //jquery append 사용해 동적으로 추가 실시  
					count++;
				}
				// 다음 페이지 추가 실시
				var insertEND = "<li class='page-item'>"; // 변수 선언
				insertEND = insertEND + "<a class='page-link' href='javascript:void(0)' onclick = 'commentNewPage(" + "0" + ");'>";
				insertEND = insertEND + "다음";
				insertEND = insertEND + "</a></li>";
				$("#comment_dyn_ul").append(insertEND); //jquery append 사용해 동적으로 추가 실시
			}
			// [페이징 완료 후 >> tr 개수 전체 삭제 >> 페이징 개수에 맞게 다시 표시 실시]
			$("#comment_dyn_tbody").empty(); //tbody tr 전체 삭제 실시
			// [새롭게 페이지 목록 리스트 처리 실시]
			commentNewPage(startIndex);
		};

		/* [tbody tr 동적 삽입 이벤트 수행 함수] */
		function commentNewPage(pageCurrent) {
			// [새롭게 테이블 tbody tr 데이터 생성 실시]
			if (pageCurrent == -1) { // 이전 페이지
				$("#comment_dyn_tbody").empty(); //tbody tr 전체 삭제 실시
				// [새롭게 페이징 처리 실시]
				var newIdx = page - pageMax;
				// [테이블 데이터에 따라 페이징 처리 실시]
				commentPageInsert(newIdx); //표시될 페이지 번호 전송
			}
			else if (pageCurrent == 0) { // 다음 페이지
				$("#comment_dyn_tbody").empty(); //tbody tr 전체 삭제 실시
				// [새롭게 페이징 처리 실시]
				var newIdx = page + pageMax;
				// [테이블 데이터에 따라 페이징 처리 실시]
				commentPageInsert(newIdx); //표시될 페이지 번호 전송
			}
			else { // 일반 테이블 목록 리스트 갱신
				$("#comment_dyn_tbody").empty(); //tbody tr 전체 삭제 실시
				// 저장된 idx 에서 페이지 수를 곱해서 새로운 idx 지정
				// [1페이지 클릭 >> (1*5) -5 = 0 시작]
				// [2페이지 클릭 >> (2*5) -5 = 5 시작]
				idx = (pageCurrent * pageList) - pageList;
				var checkCount = 1;
				for (var i = idx; i < tableList.length; i++) { //반복문을 수행하면서 tbody에 tr데이터 삽입 실시
					if (checkCount > pageList) { //한페이지에 표시될 목록을 초과한 경우
						return;
					}
					// json 데이터 파싱 실시
					var jsonObject = JSON.parse(JSON.stringify(tableList[i])); //각 배열에 있는 jsonObject 참조
					idx = jsonObject.idx;
					var userid = jsonObject.userid;
					var comment = jsonObject.comment;
					var ccbaAsno = jsonObject.ccbaAsno;
					var ccbaMnm1 = jsonObject.ccbaMnm1;
					var commentDate = jsonObject.commentDate;
					// 동적으로 리스트 추가
					var insertTr = ""; // 변수 선언
					insertTr += "<tr>"; // body 에 남겨둔 예시처럼 데이터 삽입
					insertTr += `<td class="table-col-1 commentTable">
							<input class="deleteCommentCheckbox" type="checkbox" value="${userid} ${ccbaAsno}"></td>`;
					insertTr += `<td class="table-col-2 commentTable">${idx}</td>`;
					insertTr += `<td class="table-col-3 commentTable">${userid}</td>`;
					insertTr += `<td class="table-col-4 commentTable">${comment}</td>`;
					insertTr += `<td class="table-col-5 commentTable">${ccbaAsno}</td>`;
					insertTr += `<td class="table-col-6 commentTable">${ccbaMnm1}</td>`;
					insertTr += `<td class="table-col-7 commentTable">${commentDate}</td>`;
					insertTr += "</tr>";
					// jquery append 사용해 동적으로 추가 실시
					$("#comment_dyn_tbody").append(insertTr);
					// 카운트 횟수 증가    
					checkCount++;
				}
			}
		};
	</script>


</div>