/*코멘트 테이블*/
.commentTable{
	font-size:0.9em;	
}
.commentTable1 {
	width: 5%;
}

.commentTable2 {
	width: 5%;	
}

.commentTable3 {
	width: 10%;
}

.commentTable4 {
	width: 50%;
}

.commentTable5 {
	width: 15%;
}

.commentTable6 {
	width: 15%;
}


/*유저권한 테이블*/
.userAuthorityTable{
	font-size:0.9em;
}
.userAuthorityTable1{
	width: 5%;
}
.userAuthorityTable2{
	width: 5%;
}
.userAuthorityTable3{
	width:10%;
}
.userAuthorityTable4{
	width:20%;
}
.userAuthorityTable5{
	width:20%;
}
.userAuthorityTable6{
	width:20%;
}
.userAuthorityTable7{
	width:20%;
}


/*유저 강제탈퇴*/
.userForcedWithdrawalTable1 {
	width: 10%;
}

.userForcedWithdrawalTable2 {
	width: 20%;
}

.userForcedWithdrawalTable3 {
	width: 20%;
}

.userForcedWithdrawalTable4 {
	width: 20%;
}

.userForcedWithdrawalTable5 {
	width: 30%;
}