/*=================전체 디폴트=================  */
* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100vh;
}

#map {
	position: relative;
	width: 100%;
	height: 100%;
}

.buttonbackimg {
	/*공용 버튼 색*/
	background: rgb(98, 107, 233);
	border: none;
}

.buttonbackimg:hover {
	background-image: url("../img/backimg.png");
}

.dp-1 {
	color: rgb(98, 107, 233);
}

/*=======================nav 시작========================*/
@font-face {
	font-family: 'moonhwa';
	src: url('font/moonhwa-bold.woff') format('truetype');
}

@font-face {
	font-family: 'moonhwa-r';
	src: url('font/moonhwa-regular.woff') format('truetype');
}

.hangnav {
	/*nav바 전체 : hang_01 */
	z-index: 9999;
	background-color: rgb(223, 228, 239);
	border-bottom: 4px solid rgb(140, 145, 236);
	width: 40%;
	margin: 0 auto;
	border-radius: 0px 0px 30px 30px;
	font-family: 'moonhwa';
}

.hangsearch {
	/* nav 검색창 : hang_02 */
	position: relative;
}

.shabsolute {
	/* 검색창 돋보기*/
	position: absolute;
	width: 17px;
	top: 10px;
	right: 12px;
}

/*로그인/회원가입 버튼 사이즈 (li안에 싸여있음)*/
.navbutton{
	width:100%;
	font-size:0.8vw;
}

/* 로그인 구역 :hang_03 */
/*로그인 li 간격*/
.hanglogin {
	width:50%;
	padding-right: 10px;
}

/* 회원 가입 시작: hang_04 */
/*회원가입 li 버튼 간격  */
.newgestbtn {
	width:50%;
	padding-right: 10px;
}

#top1 {
   /* 로그인 모달 창 바탕 */
   width: 100%;
   margin: 0 auto;
   padding: 40px;
   text-align: center;
}

.hanglogcont {
   /* 로그인 모달 창 바탕 2*/
   background-color: #f5f5f5;
   box-shadow: 1px 1px 5px rgb(98, 107, 233);
   border-radius: 10px;
}

.hangmodal {
   /*로그인 모달창 3*/
   background-color: #f5f5f5;
   box-shadow: 1px 1px 5px rgb(98, 107, 233);
}

/* !!부트스트랩 권장값 자세히는 모름*/
.form-signin {
	max-width: 330px;
	/* padding: 15px 0px; */
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* !!부트스트랩 권장값 끝*/
.wellcome {
	/* 아이디 비번 찾기 */
	text-shadow: -1px -1px 5px #666;
	font-size: 0.8em;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.loghr {
	/* 로그인쪽 hr */
	border: 1px solid gray;
}

.wellcol a {
	/* 아이디 비번 찾기 */
	text-decoration: none;
	color: rgb(98, 107, 233);
}



/*회원 가입 끝*/

/* 어사이드 오른쪽 버튼 : hang_05 */
.hangtoggler { /* 햄버거 버튼 외부*/
	border: none;
	width:100%;
}

.hangtoggler:focus {
	/*이거 안하면 클릭시 이상한 선 생김*/
	box-shadow: none;
}

.hangtoggler-icon:hover {
	/*햄버거 호버시 색깔 두께*/
	background-image:
		url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(177, 49, 81)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hangtoggler-icon {
	/*햄버거 평소 색깔 두께*/
	background-image:
		url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(135, 119, 236)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



.bug1 {
  	text-align: center;
  	height:65%;
  	box-shadow: -1px 1px 5px rgb(98, 107, 233);
}

/*로그인후 loginnav */


/*오른쪽 aside 내부*/
.bug1_1{
   text-align: center; padding: 5px;
   height: 550px;
    box-shadow: -1px 1px 5px rgb(98, 107, 233);
    background-color: #f5f5f5;
}

.userimpo{
   font-family: 'moonhwa'; font-size: 1.4em; margin: 5px;
}


ul {
   list-style-type: none;
}

.SMN_effect-13 a {
   text-decoration-line: none;
   color: rgb(177, 49, 81);
   text-shadow: none;
   padding: 5px 0;
}

.SMN_effect-13 a:before {
   color: #686de0;
   text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
   content: attr(data-hover);
   position: absolute;
   -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
   -moz-transition: -moz-transform 0.3s, opacity 0.3s;
   transition: transform 0.3s, opacity 0.3s;
   pointer-events: none;
}

.SMN_effect-13 a:after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background: #fff;
   opacity: 0;
   -webkit-transform: translateY(5px);
   -moz-transform: translateY(5px);
   transform: translateY(5px);
   -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
   -moz-transition: -moz-transform 0.3s, opacity 0.3s;
   transition: transform 0.3s, opacity 0.3s;
   pointer-events: none;
}

.SMN_effect-13 a:hover:before,
.SMN_effect-13 a:focus:before {
   opacity: 0;
   -webkit-transform: translateY(-2px);
   -moz-transform: translateY(-2px);
   transform: translateY(-2px);
   color: rgb(177, 49, 81);
}

.SMN_effect-13 a:hover:after,
.SMN_effect-13 a:focus:after {
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   transform: translateY(0px);
}

/*회원정보 수정 모달*/
.edituserbar{ /*모달 내부 외부 색*/
   box-shadow: 1px 1px 5px rgb(98, 107, 233); background-color: #f5f5f5;
}
.edituserbody{
   padding: 20px;
}

/*ssssss*/
hr[role="tournament2"] {
    border: 0px solid;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(124, 95, 253, 0.75), rgba(0, 0, 0, 0));
    margin: 24px 0px;
    display: block;
}
hr[role="tournament2"]::before {
    position: absolute;
    background-color: #efefef;
    border: 3px solid;
    border-color: rgba(124, 95, 253, 0.75);
    border-left: 0px solid;
    border-top: 0px solid;
    padding: 10px;
    transform: rotate(45deg);
    left: 50%;
    margin: -10px 0px 0px -22px;
    content: "";
}
/*=======================nav 끝========================*/






.sidebar {
	width: 350px;
	height: 100%;
	background: rgb(223, 228, 239);
	position: fixed;
	top: 0px;
	left: -350px;
	z-index: 1;
	transition: all .35s;
}

.searchTop{
	text-align: center;
	background: rgb(223, 228, 239);
	position:fixed;
	top:0;
	left:-350px;
	width:350px;
	z-index: 2;
	transition: all .35s;
	overflow: auto;
}

#searchCount{
	background: rgb(223, 228, 239);
}

#searchResult {
	overflow:auto;
	height:100%;
}


/*검색결과 스크롤바 디자인*/
.scrollBarDesign::-webkit-scrollbar {
	width: 5px; /* 스크롤바의 너비 */
	border-radius: 25px;
}

.scrollBarDesign::-webkit-scrollbar-thumb {
	background: rgb(140, 145, 236); /* 스크롤바의 색상 */
	border-radius: 25px;
}

.scrollBarDesign::-webkit-scrollbar-track {
	background-color: #575757; /*스크롤바 뒷 배경 색상*/
	border-radius: 25px;
}





/*검색결과 div 박스 디자인*/
#searchResult>div { /* 결과 1개 당 */
	border: 1px solid black;
	margin-bottom: 20px;
	padding: 10px;
}

#searchResult>div>p:nth-child(1) { /* 타이틀 */
	font-size: 1.2em;
	font-weight: bold;
}

#searchResult>div>p { /* 내용 */
	margin-bottom: 5px;
}

#searchResult>div>a { /* 자세히보기 */
  border: 1px solid rgb(223, 228, 239);
  background-color: rgb(190, 205, 238);
  color:rgb(140, 145, 236);
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
}
#searchResult>div>a:hover { /* 자세히보기 */
  color:red;
  border: 1px solid rgb(140, 145, 236);
  background-color: rgb(140, 145, 236);
  padding: 5px 10px;
  font-weight: bold;
}

.reviewbackimg:hover{
	background-image: url("../img/backimg.png");
}







/*회원가입 입력창 변화*/
#username:required:valid {
        background-color: #cff8ff;
}
#useridInput:required:valid {
        background-color: #cff8ff;
}
#userpw:required:valid {
        background-color: #cff8ff;
}
#userpw2:required:valid {
        background-color: #cff8ff;
}
#phone:required:valid {
        background-color: #cff8ff;
}
#email:required:valid {
        background-color: #cff8ff;
}


/* 대기중 문양 빙글빙글 도는 애니메이션*/
.nugiimg {
	width: 100px;
	height: 100px;
 	animation: rotate_updown 4s linear infinite;
  	transform-origin: 50% 50%;
}

@keyframes rotate_updown {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(180deg) translateY(200px);
  }
  100% {
    transform: rotate(360deg) translateY(0px);
  }
}



/*==========모바일 nav=========*/
@media only screen and (max-width: 480px) {
	@font-face {
	   font-family: 'moonhwa';
	   src: url('font/moonhwa-bold.woff') format('truetype');
	}
	
	.hangnav {
	   /*nav바 전체 : hang_01 */
	   z-index: 9999;
	   background-color: rgb(223, 228, 239);
	   border-bottom: 4px solid rgb(140, 145, 236);
	   width: 100%;
	   margin: 0 auto;
	   border-radius: 0px 0px 30px 30px;
	   font-family: 'moonhwa';
	}
	
	.navbutton{
	   font-size:0.4em ;
	   padding: 15px;
	}
}

/*=============================*/




.form-switch > input {
	margin:0 auto;
}