 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

  .rate {
    display: inline-block;
    border: 0;
    margin-right: 15px;
  }

  .rate>input {
    display: none;
  }

  .rate>label {
    float: right;
    color: #ddd;
    font-size: 0.6em; /* 별 크기 0.6em으로 조정 */
  }

  .rate>label:before {
    display: inline-block;
    font-size: 1.2em; /* 별의 크기 */
    padding: .1rem .1rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
  }

  .rate .half:before {
    content: "\f089 ";
    position: absolute;
    padding-right: 0;
  }

  .rate input:checked~label{
    color: #f73c32 !important; /* 선택된 별 색깔 */
  }
  
  
  
