<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f51f22a3699fa4000697e5b37ae2ffe4&libraries=services,clusterer,drawing"></script>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link th:href="@{/css/main.css}" rel="stylesheet" />
		<link th:href="@{/css/star.css}" rel="stylesheet" />
		<link th:href="@{/css/map.css}" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script
		  th:src="@{https://dapi.kakao.com/v2/maps/sdk.js(appkey=f51f22a3699fa4000697e5b37ae2ffe4)}"
		  defer></script>
		<script type="module" th:src="@{/js/views.js}" defer></script>
		<script type="module" th:src="@{/js/register.js}" defer></script>
		<script type="module" th:src="@{/js/Authentication.js}" defer></script>
		<script type="module" th:src="@{/js/profileImg.js}" defer></script>
		<script type="module" th:src="@{/js/myreviews.js}" defer></script>
		<script type="module" th:src="@{/js/memberUpdate.js}" defer></script>
		<script type="module" th:src="@{/js/bookMark.js}" defer></script>
		<script type="text/javascript" th:src="@{/js/admin.js}" defer></script>
		<title>문화 Hang의 길을 따라..</title>
	</head>
	<body>
	
		<div class="container">
		  <div class="row" id="navPosition">
		    <nav th:if="${session.member == null}" id="nav-default" th:insert="~{fragments/nav :: nav}" th:onclick="sessionStorageClear()"></nav>
		    <nav th:if="${session.member != null}" id="nav-login" th:insert="~{fragments/loginnav :: loginnav}"></nav>
		  </div>
		</div>
		
		<div style="z-index: 9999; position: relative;">
		  <div class="sidebar" style="box-shadow: 1px 1px 5px rgb(98, 107, 233);">
		    <div class="searchTop">
		    <button type="button" class="btn-close noSidebar" style="float:right; font-size: 1.2em; position: absolute;  top: 10px; right: 10px;" data-bs-dismiss="sidebar" aria-label="Close"></button>
		      <p style="font-size: 1.3em; letter-spacing:5px; font-family: 'moonhwa'; margin: 10px 0px;">검색결과</p>
		      <p id="searchCount" style="font-family: 'moonhwa'; font-size: 1em;"></p>
		    </div>
		    <div id="searchResult" class="scrollBarDesign">
		      <div style="text-align: center; border:none;">
		        <p style="font-size: 1.5em; color: rgb(171, 17, 126); font-weight: bold; text-align: center; margin-top: 50%;">대기중</p>
		        <img class="nugiimg" alt="" src="./img/nugi.png">
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<div id="map"></div>
		<div id="modalDetail"></div>
		<div id="modalPoint"></div>
		<div id="modalPoint2"></div>
		<div id="modalPoint3"></div>
		<div id="modalBookmark"></div>
		<div id="modalWithdrawal"></div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	</body>
</html>