<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f51f22a3699fa4000697e5b37ae2ffe4&libraries=services,clusterer,drawing"></script>
	<head>
		<link rel="icon" type="image/png" href="favicon.ico">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link th:href="@{/css/main.css}" rel="stylesheet" />
		<link th:href="@{/css/star.css}" rel="stylesheet" />
		<link th:href="@{/css/map.css}" rel="stylesheet" />
		<link th:href="@{/css/notice.css}" rel="stylesheet" />
		<link rel="stylesheet" href="/css/message.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script
		  th:src="@{https://dapi.kakao.com/v2/maps/sdk.js(appkey=f51f22a3699fa4000697e5b37ae2ffe4)}"
		  defer></script>
		<script type="module" th:src="@{/js/views.js}" defer></script>
		<script type="module" th:src="@{/js/register.js}" defer></script>
		<script type="module" th:src="@{/js/Authentication.js}" defer></script>
		<script type="module" th:src="@{/js/profileImg.js}" defer></script>
		<script type="module" th:src="@{/js/myreviews.js}" defer></script>
		<script type="module" th:src="@{/js/memberUpdate.js}" defer></script>
		<script type="module" th:src="@{/js/bookMark.js}" defer></script>
        <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
		<script type="text/javascript" th:src="@{/js/admin.js}" defer></script>
		<script type="text/javascript" th:src="@{/js/visitorCount.js}" defer></script>
		<script type="text/javascript" th:src="@{/js/notice.js}" defer></script>
		<script type="text/javascript" src="/js/message.js" defer></script>
		<title>Hang, 문화재의 길을 따라..</title>
	</head>
	<body>
	
		<div class="container">
		  <div class="row" id="navPosition">
		    <nav th:if="${session.member == null}" id="nav-default" th:insert="~{fragments/nav :: nav}" th:onclick="sessionStorageClear()"></nav>
		    <nav th:if="${session.member != null}" id="nav-login" th:insert="~{fragments/loginnav :: loginnav}"></nav>
		  </div>
		</div>
		
		<div class="notice-container">
		</div>
		
		<div class="rightsidebar" style="z-index: 9999; position: relative;">
		  <div class="sidebar" style="left: -100%;">
		    <div class="searchTop" style="left: -100%;">
		    	<div class="searchTopContent">
			      <p class="searchTitle" style="font-size: 1.3em; letter-spacing:5px; font-family: 'moonhwa'; margin: 10px 0px;">검색결과</p>
			      <p id="searchCount" style="font-family: 'moonhwa'; font-size: 1em;"></p>
			    </div>
		    </div>
		    <div id="searchResult" class="scrollBarDesign">
		      <div style="text-align: center; border:none;">
		        <p style="font-size: 1.5em; color: rgb(171, 17, 126); font-weight: bold; text-align: center; margin-top: 50%;">검색 대기 중</p>
		        <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status"></div>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<div id="map"></div>
		<div id="modalDetail"></div>
		<div id="modalPoint"></div>
		<div id="modalPoint2"></div>
		<div id="modalPoint3"></div>
		<div id="modalBookmark"></div>
		<div id="modalWithdrawal"></div>
		<div class="message_modal_show"></div>
		<div class="visitorToast">
	        <div style="vertical-align: middle;">
	            <a type="button" class="btn" id="visitorCountBtn"><img alt="방문자수" src="./icon/visitorCount.png" style="width:100%;"></a>
	        </div>
	        <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-5">
	            <div id="visitorCountToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
	                <div class="toast-body">
	                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	                    <div style="font-size: 1.5em; font-weight: bold; text-align: center; padding:5px;">총 방문자 수 : <span
	                            id="total_visitor"></span>명</div>
	                    <div style="font-size: 1em; font-weight: bold; text-align: center; padding:5px;">오늘의 방문자 수 : <span
	                            id="today_visitor"></span>명</div>
	                </div>
	            </div>
	        </div>
	    </div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	</body>
</html>