<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f51f22a3699fa4000697e5b37ae2ffe4&libraries=services,clusterer,drawing"></script>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link
  th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css}"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous">
<link th:href="@{/css/main.css}" rel="stylesheet" />
<link th:href="@{/css/star.css}" rel="stylesheet" />
<link th:href="@{/css/map.css}" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
  th:src="@{https://dapi.kakao.com/v2/maps/sdk.js(appkey=f51f22a3699fa4000697e5b37ae2ffe4)}"
  defer></script>
<script type="module" th:src="@{/js/views.js}" defer></script>
<script type="module" th:src="@{/js/register.js}" defer></script>
<script type="module" th:src="@{/js/Authentication.js}" defer></script>
<script type="module" th:src="@{/js/profileImg.js}" defer></script>
<script type="module" th:src="@{/js/myreviews.js}" defer></script>
<script type="module" th:src="@{/js/memberUpdate.js}" defer></script>
<script type="module" th:src="@{/js/bookMark.js}" defer></script>
<script type="text/javascript" th:src="@{/js/admin.js}" defer></script>
<title>문화 Hang의 길을 따라..</title>
</head>
<body>

  <!-- nav 시작 -->
  <div class="container">
    <div class="row" id="navPosition">

      <nav th:if="${session.member == null}" id="nav-default"
        th:insert="~{fragments/nav :: nav}"
        th:onclick="sessionStorageClear()"></nav>


      <nav th:if="${session.member != null}" id="nav-login"
        th:insert="~{fragments/loginnav :: loginnav}"></nav>

    </div>
  </div>

  <!-- nav 끝 -->
  <div style="z-index: 9999; position: relative;">


    <!-- 문화재 검색결과 사이드바 -->
    <div class="sidebar searchResult scrollBarDesign"
      style="box-shadow: 1px 1px 5px rgb(98, 107, 233);">
      <div style="text-align: center;">
      <button type="button" class="btn-close noSidebar" style="float:right; font-size: 1.2em; position: absolute;  top: 10px; right: 10px;" data-bs-dismiss="sidebar" aria-label="Close"></button>
      
        <p style="font-size: 2.5em; font-family: 'moonhwa'; margin: 10px 0px;">검색결과
        </p>
        <p id="searchCount"
          style="font-family: 'moonhwa'; font-size: 1em;"></p>
      </div>
      <div id="searchResult">
        <div style="text-align: center; border: none;">
          <p
            style="font-size: 1.8em; color: rgb(171, 17, 126); font-weight: bold; text-align: center; margin-top: 90%;">대기중</p>
          <img class="nugiimg" alt="" src="./img/nugi.png"
            style="width: 100px; height: 100px;">
        </div>
      </div>
    </div>
  </div>

  <div id="map"></div>
  <!-- 지도 위치 -->

  <div id="modalDetail"></div>
  <!-- 모달이 붙을 div -->
  <div id="modalPoint"></div>
  <!-- 모달이 붙을 div -->
  <div id="modalPoint2"></div>
  <!-- 모달이 붙을 div -->
  <div id="modalPoint3"></div>
  <!-- 모달이 붙을 div -->
  <div id="modalBookmark"></div>
  <!-- 모달이 붙을 div -->
  <div id="modalWithdrawal"></div>
  <!-- 모달이 붙을 div -->

  <script type="text/javascript">
			// 지도 구현을 위한 기본 소스값
			var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
			var options = { //지도를 생성할 때 필요한 기본 옵션
				center : new kakao.maps.LatLng(37.578559, 126.977007), //지도의 중심좌표.
				level : 5
			//지도의 레벨(확대, 축소 정도)
			};
			var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

			// 일반 지도와 스카이뷰로 지도 타입을 전환 및 확대축소컨트롤
			//
			var mapTypeControl = new kakao.maps.MapTypeControl();
			// 지도에 컨트롤을 추가해야 지도위에 표시됩니다
			// kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
			map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
			// 지도 확대 축소를 제어할 수 있는 줌 컨트롤을 생성합니다
			var zoomControl = new kakao.maps.ZoomControl();
			map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
			
			var marker = new kakao.maps.Marker();
			var infowindow = new kakao.maps.InfoWindow({ disableAutoPan: true });
			
			
			
			// 검색결과 창 띄우기
			let menuicon = document.querySelector('#menuicon');
			let sidebar = document.querySelector('.sidebar');
			let noSidebarBtn = document.querySelector('.noSidebar');

			if (menuicon && sidebar) {
				  menuicon.addEventListener('click', () => {
				    // menuicon이 클릭되었을 때 .sidebar에 스타일 변경
				    if (menuicon.checked) {
				      sidebar.style.left = '0';
				    } else {
				      sidebar.style.left = '-100%';
				    }
				  });
			}
			if(sidebar){
		         noSidebarBtn.addEventListener('click', () => {
		   	        sidebar.style.left = '-100%';
		            menuicon.checked = false;
		         });
		    }
		</script>
    
    <!-- 게시판 및 페이징 처리 -->
    <script type="text/javascript" defer>
    /**
     * 나의리뷰 게시판
     */
    /* [테이블 리스트 전역 변수 선언 실시] */
    var tableList = []; // tableInsert 함수에서 for문을 돌면서 삽입 실시
    var pageList = 10; // 한개의 페이지에 보여질 목록 개수
    var pageMax = 5; // 최대 생성될 페이지 개수 (페이지를 더보려면 이전, 다음 버튼 클릭해야함)     
    var idx = 0; //idx 값 확인 후 동적 페이지 전환 및 데이터 표시
    var page = 1; //생성 시작할 페이지 번호

    /* [tbody tr 동적 삽입 이벤트 수행 함수] */
    function myreviewsTableInsert(data) {
    	tableList = []; // 새 결과값을 받기 위해 초기화
    	// [for 반복문을 돌려서 tr 데이터 임의로 생성 실시]
    	for (var i = 0; i < data.length; i++) {
    		// JSON 형식으로 리스트에 추가 실시

    		var jsonObject = {
    			"idx": i + 1,
    			"writerCCBAASNO": data[i].ccbaAsno,
    			"writerCCBAMNM1": data[i].ccbaMnm1,
    			"writerStarpoint": data[i].starpoint,
    			"writerComment": data[i].comment,
    			"writerCommentDate": data[i].commentDate
    		};
    		tableList.push(jsonObject);
    	}
    	// [테이블 행 개수에따라 페이징 처리 실시]
    	myreviewsPageInsert(page);
    };

    /* [페이징 처리 이벤트 수행 함수] */
    function myreviewsPageInsert(value) {
    	// [페이징 목록 초기화 실시]
    	$("#dyn_ul").empty();
    	// [생성된 테이블 tr 개수 확인 >> 페이징 처리 5개씩 목록 자름]       
    	var startIndex = value; // 생성 시작 페이지        
    	//var endIndex = $("#dyn_tbody tr").length; // tbody에 동적으로 추가된 tr 개수 확인
    	var endIndex = tableList.length; // 배열에 있는 길이 확인
    	// [tr 개수에 따라 페이징 해야할 개수 확인]
    	var pageCount = 0;
    	var pagePlus = 0;
    	if (endIndex > pageList) { // tr 행 개수가 5 이상인 경우 (임의로 설정)
    		pageCount = Math.floor(endIndex / pageList); //생성될 페이지 수 (소수점 버림)
    		pagePlus = endIndex % pageList; //추가 나머지 자식 수
    		if (pagePlus > 0) { //추가 자식수가 있는경우 >> 페이지 추가
    			pageCount = pageCount + 1;
    		}
    	}

    	// [생성될 페이지 번호가 전체 생성되야하는 길이보다 크거나 작은지 확인]
    	if (startIndex > pageCount) { //길이 초과 시 기존꺼로 다시 저장
    		startIndex = page;
    	}
    	else if (startIndex < 0) { //길이 미만 시 기존꺼로 다시 저장
    		startIndex = page;
    	}
    	else {
    		page = startIndex;
    	}
    	// [동적 ul 페이징 처리 실시]
    	if (pageCount == 1) { //생성해야할 페이지가 1페이지인 경우
    		var insertUl = "<li class='page-item'>"; // 변수 선언
    		insertUl += insertUl + "<a class='page-link' href='javascript:void(0)' onclick='myreviewsNewPage(1);'>";
    		insertUl += insertUl + i;
    		insertUl += insertUl + "</a></li>";
    		$("#dyn_ul").append(insertUl); //jquery append 사용해 동적으로 추가 실시           
    	}
    	else if (pageCount >= 2) { //생성해야할 페이지가 2페이지 이상인 경우
    		// 이전 페이지 추가 실시 
    		var insertSTR = "<li class='page-item'>"; // 변수 선언
    		insertSTR = insertSTR + "<a class='page-link' href='javascript:void(0)' onclick='myreviewsNewPage(" + "-1" + ");'>";
    		insertSTR = insertSTR + "이전";
    		insertSTR = insertSTR + "</a></li>";
    		$("#dyn_ul").append(insertSTR); //jquery append 사용해 동적으로 추가 실시            
    		// 특정 1, 2, 3 .. 페이지 추가 실시
    		var count = 1;
    		for (var i = startIndex; i <= pageCount; i++) {
    			if (count > pageMax) { //최대로 생성될 페이지 개수가 된 경우 
    				page = i - pageMax; //생성된 페이지 초기값 저장 (초기 i값 4 탈출 인경우 >> 1값 저장)
    				break; //for 반복문 탈출
    			}
    			var insertUl = "<li class='page-item'>"; // 변수 선언
    			insertUl = insertUl + "<a class='page-link' href='javascript:void(0)' onclick='myreviewsNewPage(" + i + ");'>";
    			insertUl = insertUl + String(i);
    			insertUl = insertUl + "</a></li>";
    			$("#dyn_ul").append(insertUl); //jquery append 사용해 동적으로 추가 실시  
    			count++;
    		}
    		// 다음 페이지 추가 실시
    		var insertEND = "<li class='page-item'>"; // 변수 선언
    		insertEND = insertEND + "<a class='page-link' href='javascript:void(0)' onclick='myreviewsNewPage(" + "0" + ");'>";
    		insertEND = insertEND + "다음";
    		insertEND = insertEND + "</a></li>";
    		$("#dyn_ul").append(insertEND); //jquery append 사용해 동적으로 추가 실시
    	}
    	// [페이징 완료 후 >> tr 개수 전체 삭제 >> 페이징 개수에 맞게 다시 표시 실시]
    	$("#dyn_tbody").empty(); //tbody tr 전체 삭제 실시
    	// [새롭게 페이지 목록 리스트 처리 실시]
    	myreviewsNewPage(startIndex);
    };

    /* [tbody tr 동적 삽입 이벤트 수행 함수] */
    function myreviewsNewPage(pageCurrent) {
    	// [새롭게 테이블 tbody tr 데이터 생성 실시]
    	if (pageCurrent == -1) { // 이전 페이지
    		$("#dyn_tbody").empty(); //tbody tr 전체 삭제 실시
    		// [새롭게 페이징 처리 실시]
    		var newIdx = page - pageMax;
    		// [테이블 데이터에 따라 페이징 처리 실시]
    		myreviewsPageInsert(newIdx); //표시될 페이지 번호 전송
    	}
    	else if (pageCurrent == 0) { // 다음 페이지
    		$("#dyn_tbody").empty(); //tbody tr 전체 삭제 실시
    		// [새롭게 페이징 처리 실시]
    		var newIdx = page + pageMax;
    		// [테이블 데이터에 따라 페이징 처리 실시]
    		myreviewsPageInsert(newIdx); //표시될 페이지 번호 전송
    	}
    	else { // 일반 테이블 목록 리스트 갱신
    		$("#dyn_tbody").empty(); //tbody tr 전체 삭제 실시
    		// 저장된 idx 에서 페이지 수를 곱해서 새로운 idx 지정
    		// [1페이지 클릭 >> (1*5) -5 = 0 시작]
    		// [2페이지 클릭 >> (2*5) -5 = 5 시작]
    		idx = (pageCurrent * pageList) - pageList;
    		var checkCount = 1;
    		for (var i = idx; i < tableList.length; i++) { //반복문을 수행하면서 tbody에 tr데이터 삽입 실시
    			if (checkCount > pageList) { //한페이지에 표시될 목록을 초과한 경우
    				return;
    			}
    			// json 데이터 파싱 실시
    			var dataParsingComment = JSON.parse(JSON.stringify(tableList[i])); //각 배열에 있는 jsonObject 참조
    			var writerCCBAASNO = dataParsingComment.writerCCBAASNO;
    			var writerCCBAMNM1 = dataParsingComment.writerCCBAMNM1;
    			var writerStarpoint = dataParsingComment.writerStarpoint;
    			var writerComment = dataParsingComment.writerComment;
    			var writerCommentDate = dataParsingComment.writerCommentDate;
    			// 동적으로 리스트 추가
    			var insertTr = ""; // 변수 선언
    			insertTr += "<tr>"; // body 에 남겨둔 예시처럼 데이터 삽입
    			insertTr += `<td><input type="checkbox" id="myreviewCheckbox${writerCCBAASNO}" class="checkAll" value="${writerCCBAASNO}"></td>`;
    			insertTr += `<td><label for="myreviewCheckbox${writerCCBAASNO}">${writerCCBAMNM1}</label></td>`;
    			insertTr += `<td><label for="myreviewCheckbox${writerCCBAASNO}">${writerStarpoint}</label></td>`;
    			insertTr += `<td><label for="myreviewCheckbox${writerCCBAASNO}">${writerComment}</label></td>`;
    			insertTr += `<td><label for="myreviewCheckbox${writerCCBAASNO}">${writerCommentDate}</label></td>`;
    			insertTr += "</tr>";
    			document.getElementById("dyn_tbody").innerHTML += insertTr;
    			checkCount++;
    		}
    	}
    };
    
    
    /**
     * 문화재별 리뷰 게시판
     */
    /* [tbody tr 동적 삽입 이벤트 수행 함수] */
    function heritageCommentStart(data){
    	for (var k = 0; k < data.length; k++) {
			if (data[k].USERID === sessionStorage.getItem("userid")) {
				document.querySelector('#commentInputText').value = '이미 작성하였습니다';
				document.querySelector('#commentInputText').disabled = true;
				document.querySelector('#customRange2').disabled = true;
				document.querySelector('#commentStarpointConfirmButton').disabled = true;
			}
		}
		tableInsert(data);
    }
    function tableInsert(data) {
    	tableList = []; // 새 결과값을 받기 위해 초기화
    	// [for 반복문을 돌려서 tr 데이터 임의로 생성 실시]
    	for (var i = 0; i < data.length; i++) {
    		// JSON 형식으로 리스트에 추가 실시
    		var jsonObject = {
    				"idx": i,
					"writer": data[i].USERID,
					"writerStarpoint": data[i].STARPOINT,
					"writerComment": data[i].COMMENT,
					"writerCommentDate": data[i].COMMENTDATE
    		};
    		tableList.push(jsonObject);
    	}
    	// [테이블 행 개수에따라 페이징 처리 실시]
    	pageInsert(page);
    };

    /* [페이징 처리 이벤트 수행 함수] */
    function pageInsert(value) {
    	// [페이징 목록 초기화 실시]
    	$("#dyn_ul").empty();
    	// [생성된 테이블 tr 개수 확인 >> 페이징 처리 5개씩 목록 자름]       
    	var startIndex = value; // 생성 시작 페이지        
    	//var endIndex = $("#dyn_tbody tr").length; // tbody에 동적으로 추가된 tr 개수 확인
    	var endIndex = tableList.length; // 배열에 있는 길이 확인
    	// [tr 개수에 따라 페이징 해야할 개수 확인]
    	var pageCount = 0;
    	var pagePlus = 0;
    	if (endIndex > pageList) { // tr 행 개수가 5 이상인 경우 (임의로 설정)
    		pageCount = Math.floor(endIndex / pageList); //생성될 페이지 수 (소수점 버림)
    		pagePlus = endIndex % pageList; //추가 나머지 자식 수
    		if (pagePlus > 0) { //추가 자식수가 있는경우 >> 페이지 추가
    			pageCount = pageCount + 1;
    		}
    	}

    	// [생성될 페이지 번호가 전체 생성되야하는 길이보다 크거나 작은지 확인]
    	if (startIndex > pageCount) { //길이 초과 시 기존꺼로 다시 저장
    		startIndex = page;
    	}
    	else if (startIndex < 0) { //길이 미만 시 기존꺼로 다시 저장
    		startIndex = page;
    	}
    	else {
    		page = startIndex;
    	}
    	// [동적 ul 페이징 처리 실시]
    	if (pageCount == 1) { //생성해야할 페이지가 1페이지인 경우
    		var insertUl = "<li class='page-item'>"; // 변수 선언
    		insertUl += insertUl + "<a class='page-link' href='javascript:void(0)' onclick='newPage(1);'>";
    		insertUl += insertUl + i;
    		insertUl += insertUl + "</a></li>";
    		$("#dyn_ul").append(insertUl); //jquery append 사용해 동적으로 추가 실시           
    	}
    	else if (pageCount >= 2) { //생성해야할 페이지가 2페이지 이상인 경우
    		// 이전 페이지 추가 실시 
    		var insertSTR = "<li class='page-item'>"; // 변수 선언
    		insertSTR = insertSTR + "<a class='page-link' href='javascript:void(0)' onclick='newPage(" + "-1" + ");'>";
    		insertSTR = insertSTR + "이전";
    		insertSTR = insertSTR + "</a></li>";
    		$("#dyn_ul").append(insertSTR); //jquery append 사용해 동적으로 추가 실시            
    		// 특정 1, 2, 3 .. 페이지 추가 실시
    		var count = 1;
    		for (var i = startIndex; i <= pageCount; i++) {
    			if (count > pageMax) { //최대로 생성될 페이지 개수가 된 경우 
    				page = i - pageMax; //생성된 페이지 초기값 저장 (초기 i값 4 탈출 인경우 >> 1값 저장)
    				break; //for 반복문 탈출
    			}
    			var insertUl = "<li class='page-item'>"; // 변수 선언
    			insertUl = insertUl + "<a class='page-link' href='javascript:void(0)' onclick='newPage(" + i + ");'>";
    			insertUl = insertUl + String(i);
    			insertUl = insertUl + "</a></li>";
    			$("#dyn_ul").append(insertUl); //jquery append 사용해 동적으로 추가 실시  
    			count++;
    		}
    		// 다음 페이지 추가 실시
    		var insertEND = "<li class='page-item'>"; // 변수 선언
    		insertEND = insertEND + "<a class='page-link' href='javascript:void(0)' onclick='newPage(" + "0" + ");'>";
    		insertEND = insertEND + "다음";
    		insertEND = insertEND + "</a></li>";
    		$("#dyn_ul").append(insertEND); //jquery append 사용해 동적으로 추가 실시
    	}
    	// [페이징 완료 후 >> tr 개수 전체 삭제 >> 페이징 개수에 맞게 다시 표시 실시]
    	$("#dyn_tbody").empty(); //tbody tr 전체 삭제 실시
    	// [새롭게 페이지 목록 리스트 처리 실시]
    	newPage(startIndex);
    };

    /* [tbody tr 동적 삽입 이벤트 수행 함수] */
    function newPage(pageCurrent) {
    	// [새롭게 테이블 tbody tr 데이터 생성 실시]
    	if (pageCurrent == -1) { // 이전 페이지
    		$("#dyn_tbody").empty(); //tbody tr 전체 삭제 실시
    		// [새롭게 페이징 처리 실시]
    		var newIdx = page - pageMax;
    		// [테이블 데이터에 따라 페이징 처리 실시]
    		pageInsert(newIdx); //표시될 페이지 번호 전송
    	}
    	else if (pageCurrent == 0) { // 다음 페이지
    		$("#dyn_tbody").empty(); //tbody tr 전체 삭제 실시
    		// [새롭게 페이징 처리 실시]
    		var newIdx = page + pageMax;
    		// [테이블 데이터에 따라 페이징 처리 실시]
    		pageInsert(newIdx); //표시될 페이지 번호 전송
    	}
    	else { // 일반 테이블 목록 리스트 갱신
    		$("#dyn_tbody").empty(); //tbody tr 전체 삭제 실시
    		// 저장된 idx 에서 페이지 수를 곱해서 새로운 idx 지정
    		// [1페이지 클릭 >> (1*5) -5 = 0 시작]
    		// [2페이지 클릭 >> (2*5) -5 = 5 시작]
    		idx = (pageCurrent * pageList) - pageList;
    		var checkCount = 1;
    		for (var i = idx; i < tableList.length; i++) { //반복문을 수행하면서 tbody에 tr데이터 삽입 실시
    			if (checkCount > pageList) { //한페이지에 표시될 목록을 초과한 경우
    				return;
    			}
    			// json 데이터 파싱 실시
    			var dataParsingComment = JSON.parse(JSON.stringify(tableList[i])); //각 배열에 있는 jsonObject 참조
    			var writer = dataParsingComment.writer;
				var writerStarpoint = dataParsingComment.writerStarpoint;
				var writerComment = dataParsingComment.writerComment;
				var writerCommentDate = dataParsingComment.writerCommentDate;
    			// 동적으로 리스트 추가
    			var insertTr = ""; // 변수 선언
    			insertTr += "<tr>"; // body 에 남겨둔 예시처럼 데이터 삽입
				insertTr += "<td>" + writer + "</td>";
				insertTr += "<td>" + writerStarpoint + "</td>";
				insertTr += "<td>" + writerComment + "</td>";
				insertTr += "<td>" + writerCommentDate + "</td>";
				insertTr += "</tr>";
    			document.getElementById("dyn_tbody").innerHTML += insertTr;
    			checkCount++;
    		}
    	}
    };
    </script>
    
  <!--  로그아웃 시 세션스토리지 클리어 -->
  <script th:inline="javascript">
			function sessionStorageClear() {
				sessionStorage.clear();
			}
		</script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>
</html>